doctype 5
html
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/javascripts/jquery-1.8.2.min.js')
  block head
  body
    header
      h1 Foo Down Shopping List
    nav
      a(href='index.html') Home
      a(href='/about/') About
      a(href='/shopping/shopping_list') Shopping
      a(href='/shopping/item_master') Item Master
    .sidebar
        block sidebar
    .container
       .main-content
          block content

